<div class="ShadowBoxBoats">

<center><h1 class= "section-heading" style="color:green;font-size:200%;font-family:'Contrail One',cursive;">Editing Jobs</h1>

<%= render 'form', job: @job %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>

</center>
</div>