

<div class="ShadowBoxJobs">

<center><h1 class= "section-heading" style="color:green;font-size:300%;font-family:'Contrail One',cursive; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);">New Job</h1>

<%= render 'form', job: @job %>

<%= link_to 'Back', jobs_path %>

</center>
</div>