

<div class="ShadowBox">

<center><h1 class= "section-heading" style="color:green;font-weight:bolder;font-size:300%;font-family:'Contrail One',cursive; box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);">New Company</h1>

<%= render 'form', company: @company %>

<%= link_to 'Back', companies_path %>

</center>
</div>