<div class="ShadowBoxBoats">

<div class="section_heading">
<h1 class= "section-heading" style="color:green;font-size:100%;font-family:'Contrail One',cursive;">New Boat</h1>

<%= render 'form', boat: @boat %>

<br><br><br><br>
<%= link_to 'Back', boats_path %>
</div>
</div>